html {
    box-sizing: border-box;
    padding: 15px;
}

body {
    font-family: Garamond, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

.buttons, .result {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display: flex;
    border: solid #000000 4px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 160px;
    height: 75px;
    margin: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    letter-spacing: 5px;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}